/* Eléments principaux de la page */
body
{
    font-family: 'Raleway', sans-serif;
}

#bloc-page
{
    margin: 0% 5% 0% 5%;
}
 
p
{
    margin-block-start: 0em;
    margin-block-end: 0em;
}

h2
{
    font-size: 19px;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;

}

h3 
{
    font-size: 17px;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

figure
{
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

a:-webkit-any-link 
{
    color: black;
    text-decoration: none;
}
    
    /*-------*/

/* Header-positionement*/
header
{
    display: flex;
    justify-content: space-between;
    height: 7rem;
    align-items: center;
}
/*-------*/

/* Header-taille-logo*/
.logo
{
    width: 130px;
    height: 100px;
    padding-top: 5%;
}
/*-------*/
 
/* Header-navigation*/
.header-nav
{
    height: 70%;
    width: 30%;
    line-height: 4rem;
    white-space: nowrap;
    display: flex;
    justify-content: space-between;
}

header span
{
    text-align: center;
    width: 35%;
    padding-top: 5%;
}

/*-------*/

/*header-nav: chg survole*/
.onglet:hover
{
    color: #0065FC;
}

header span:hover
{
    border-top: 3px solid #0065FC;

}

/*.onglet-act:hover
{
    border-top: 3px solid #0065FC;

}*/
/*-------*/

/* txt gras onglet nav */
#onglet-insc
{
    font-weight:bold;
    color: #0065FC;
}
/*-------*/

/*espace de recherche*/

#search
{
    display: flex;
    flex-direction: column;
    font-size: 22px;
}

#titre-search
{
    font-size: 30px;
    font-weight: bold;
}
.sous-titre
{ 
    margin-bottom: 30px;
}



#espace-recherche
{
    padding: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.btn-localisation
{
    padding: 8px;
    background-color: #F2F2F2;
    text-shadow: 1px 1px 1px #000;
    height: 50px;
    border-top-left-radius: 20px;
    border-bottom-left-radius:20px;
    width: 55px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-search
{
    text-shadow: 1px 1px 1px;
    border-top-right-radius: 20px;
    border-bottom-right-radius:20px;
    background-color: #0065FC;
    padding: 0 15px;
    font-size: 22px;
    border: 0;
    margin-top: 10px;
    margin-bottom: 12px;
    color: #fff;
    cursor: pointer;
    height: 65px;
    width : 160px;
}

#formulaire
{
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    width : 300px;
    margin: 0;
    height: 69px;
    border: none;
    font-weight: bold;
    padding-left: 8%;
    border: solid 1px #F2F2F2;
}

.fa-map-marker-alt
{
    font-size: 22px;
    margin-right: 10px;
    margin-left: 10px;

}
/*-------*/

/*Partie Filtre*/

.btns-filter
{
    margin: 0% 2% 2% 0%;
}

#filtres
{
    display: flex;
    flex-wrap: wrap;
    align-items: center; 
    font-size: 20px; 
    font-weight: bold;
    margin:2% 0% 3% 0%;
}


.blue-btns
{
    color: #0065FC;
    background-color: #DEEBFF;
    padding: 18px;
    border-radius: 36px;
    font-size: 22px;
    margin-right: 20px;
}

.btns
{
    border: 3px solid #F2F2F2;
    border-radius: 40px 40px 40px 40px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    padding-right: 2%;
    margin: 0% 2% 2% 0%;
    white-space: nowrap;
}

.info
{
    font-size: 18px;
    margin-bottom: 20px;
}

.fa-info
{
    color: #0065FC;
    border: 2px solid #F2F2F2;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    text-align: center;
    margin-right: 20px;
}
/*-------*/

/*Survole filtre*/
.btns:hover
    {
    background-color: #DEEBFF;
    cursor: pointer;
    }
/*-------*/

/*format etoile*/
.bluestar
    {
        display: flex;
        flex-direction: row;
        padding-right: 5px;
        width: 12px;
        height: 12px;
        text-align: left;
        object-fit: contain;
        color: #0065FC;
    }

.greystar
    {
        display: flex;
        flex-direction: row;
        padding-left: 5px;
        width: 12px;
        height: 12px;
        text-align: left;
        object-fit: contain;
        color: #F2F2F2;
    }
    
/*-------*/

/* Block hébergement*/
#section-heb
{
    display: flex;
    justify-content: space-between;
    align-content: stretch;
    margin-top:50px;
}

#block-hebergement
{
    background-color: #F2F2F2;
    border-radius: 20px;
    width: 65%;
    margin-right: 4%;
    padding: 0% 1% 0% 1%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
}

#titre-hebergement
{
    font-size: 25px;  
    font-weight: bold;
    padding-left: 25px;
    text-align: left;
    vertical-align: top;
    padding: 4% 0% 2% 2%;
}

.titre-hotel
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 5rem;
    font-size: 15px;
    text-align: left;
    padding-left: 5%;
}
#encart-hotel
{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: stretch;
    margin-left: 25px;
    margin-right: 25px;
}

.img-hotel
{
    width: 100%;
    height: 140px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
}

.box-hotel
{
    background-color: white;
    border: 4px solid white;
    width: 27%;
    height: 43%;
    border-radius: 20px;
    margin-bottom: 25px;
    box-shadow: 2px 2px 6px #c3c2c2;
}

.lien-afficher
{
    font-size: 18px;
    padding:3% 0% 3% 3%;
    display: flex;
    flex-direction: column;
    justify-content: center
}
/*-------*/

/* Block populaire*/

#block-populaire
{
    background-color: #F2F2F2;
    border-radius: 20px;
    width: 30%;
}

#encart-populaire
{
    padding: 0% 5% 0% 5%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

#titre-populaire
{
    padding: 10% 9% 7% 9%;
    font-size: 25px; 
    display: flex;
    justify-content: space-between;
}    

.hotel-populaire
{
    display: flex;
    flex-flow: row nowrap;
}
.box-pop
{
    display:flex;
    background-color: white;
    border: 4px solid white;
    width: 90%;
    border-radius: 20px;
    margin-bottom: 30px;
    box-shadow: 2px 2px 6px #c3c2c2;
}
 
.img-hotel-pop
{
    width: 144px;
    height: 160px;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}


.block-info-pop
{
    padding: 2% 0% 3% 5%;
    width: 97%;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
}
.titre-hotel-pop
{
    font-size: 15px;
    padding-bottom: 9%;
}

/*-------*/

/* Block Activités*/
#block-actvites
{
    width: 100%; 
}

#titre-activites
{
    font-size: 22px;
    font-weight: bold;
    padding: 4% 0% 2% 0%;
}

.block-info
{
    padding: 3% 0% 5% 5%;
}
.lieux
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 5%;
}

.encart-activites-1-img
{
    background-color: white;
    border-radius: 20px; 
    width: 23%;
    height: 556px;
    box-shadow: 2px 2px 6px #c3c2c2;
}

.encart-activites-2-img
{
    width: 23%;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
}
.pastille
{
    background-color: white;
    border-radius: 20px;
    box-shadow: 2px 2px 6px #c3c2c2;
}

.p-haut-gauche
{
    height: 303px;
}

.p-bas-gauche
{
    height: 206px;
}

.p-haut-droite
{
    height: 234px;
}
.p-bas-droite
{
    height: 274px;
}

.img-longue
{
    width: 100%;
    height: 90%;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
}

.img-courte
{
    width: 100%;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover; 
}
.haut-gauche
{
    height: 80%;
}

.bas-gauche
{
    height: 71%;
}

.haut-droite
{
    height: 75%;
}

.bas-droite
{
    height: 79%;
}
/*-------*/

/*footer*/
footer
{
    background-color: #F2F2F2;
    font-size: 20px;
    display: flex;
}

.nav-a-propos
{
margin-left: 20px;
}

footer nav ul
{
    list-style-type: none;
    padding-top: 30px;
    min-width: 30%;
}

footer nav li
{
    padding-bottom: 3%;
}

footer nav
{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-left: 2%;
}
/*-------*/
/*Media Queries*/

@media all and (min-width: 1024px) and (max-width: 1434px)

{
    .box-hotel 
    {
        width: 40%;
        height: 30%;
    }

    .hotel-populaire 
    {
        flex-flow: column nowrap;
    }

    .img-hotel-pop
    {
        width: 100%;
        height: 25%;
        border-radius: 20px 20px 0px 0px;
    }

    .encart-activites-1-img
    {
        height: 400px;
    }
    
    .lieux
    {
        height: 400px;
    }
    .p-haut-gauche
    {
        height: 220px;
    }
    
    .p-bas-gauche
    {
        height: 150px;
    }
    
    .p-haut-droite
    {
        height: 175px;
    }
    .p-bas-droite
    {
        height: 190px;
    }
    
    .img-longue
    {
        width: 100%;
        height: 90%;
        border-radius: 20px 20px 0px 0px;
        object-fit: cover;
    }
}

@media all and (min-width: 540px) and (max-width: 1023px)

{
    .box-hotel 
    {
        width: 40%;
        height: 30%;
    }

    .hotel-populaire 
    {
        flex-flow: column nowrap;
    }

    .img-hotel-pop
    {
        width: 100%;
        height: 25%;
        border-radius: 20px 20px 0px 0px;
    }

    .lieux
    {
        flex-flow: row wrap; 

    }

    .encart-activites-1-img 
    {
        width: 48%;
        margin-bottom: 5%;
    }
    .encart-activites-2-img
    {
        width: 48%;
        margin-bottom: 5%;
    }
}

@media screen and (max-width: 539px)

{
    /* Rédigez vos propriétés CSS ici */
}
